<% include ./partials/adminheader%>


<div class="row">
  <% for(var counter=0; counter<data.length; counter++) { %>
      <div class="card" style="margin-top:3%; margin-left:5px; display:inline;">
  <div class="card-body">
    <h4 class="card-title"><%=data[counter].first_name%></h4>
    <p class="card-text"><p><em>Skill type</em></p><%= data[counter].skill_type%></p>
    <p class="card-text"><p><em>Sentence Term<?em</p><%=data[counter].term_sentence%></p>

    <form method="POST" action="/admin/hire">

    <input type="text" id="hire-button" name="prisonerId" value="<%=data[counter].id%>">
    <input type='submit' class="btn btn-primary" value="Hire" >

    </form>

  </div>
  </div>
</div>
  <% } %>

<% include ./partials/adminfooter%>
