<% include ./partials/adminheader%>

  <!--Card group-->
  <div class="card-deck">
    <% for(var counter=0; counter<data.length; counter++) { %>
      <!--Card-->
      <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
              <a href="#!">
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
          <!--Card image-->

          <!--Card content-->
          <div class="card-body">

              <!--Title-->
              <h4 class="card-title"><%=data[counter].first_name%></h4>

              <!--Text-->
              <p class="card-text"><%= data[counter].skill_type%> </p>
              <p class="card-text"><p>Sentence Term</p><%=data[counter].term_sentence%></p>

              <form method="POST" action="/admin/hire">
              <input type="submit" class="btn btn-primary" name="<%= data[counter].id%>" >Hire</a>
            </form>
          </div>
          <!--Card content-->

      </div>
      <!--Card-->
<% } %>
      </div>
      <!--Card-->

<% include ./partials/adminfooter%>
