<% include ./partials/adminheader%>
<% for(var counter=0; counter<data.length; counter++) { %>
  <!--Card-->
<div class="card">
  <div class="row">
    <!--Card image-->
    <div class="col-md-4">
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title"><%=data[counter].first_name%></h4>
        <!--Text-->
        <p class="card-text"><%=data[counter].skill_type%></p>
        <p class="card-text"><%=data[counter].term_sentence%></p>
        <a href="#" class="btn btn-primary">Hire</a>
    </div>
</div>
</div>
</div>
<!--/.Card-->
  <% } %>
<% include ./partials/adminfooter%>
