<% include ./partials/header%>

<!-- Default form contact -->
<div class="completeRegistration">
<form method="POST" action="/client/completeQualifications">
    <p class="h4 text-center mb-4">Complete Yor Profile</p>

    <!-- Default input name -->

<!-- Basic dropdown -->
<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Basic dropdown</button>

    <select name="educationLevel">
      <option <% if (educationLevel)==1{ %>
          selected
          <%}%> value="1">Volvo</option>
      <option value="2"> Benz</option>
      <option value="3">Opel</option>
      <option value="4">Audi</option>
    </select>


</div>

    <label for="defaultFormContactNameEx" class="grey-text">Education Level</label>
    <input type="text" id="defaultFormContactNameEx" class="form-control" name="educationLevel" value= "<%= educationLevel %>" >
    <br>

    <!-- Default input email -->
    <label for="defaultFormContactEmailEx" class="grey-text">Your email</label>
    <input type="email" id="defaultFormContactEmailEx" class="form-control" name="institution" value= "<%= institution %>">
    <br>

    <!-- Default input subject -->
    <label for="defaultFormContactSubjectEx" class="grey-text">Subject</label>
    <input type="text" id="defaultFormContactSubjectEx" class="form-control">

    <br>

    <div class="text-center mt-4">
        <input type="submit" class="btn btn-outline-warning" value="Update">
    </div>
</form>
</div>
<!-- Default form contact -->
<% include ./partials/footer%>
