<% include ./partials/header%>

<!-- Default form contact -->
<div class="completeRegistration">
<form method="POST" action="/client/completeQualifications">
    <p class="h4 text-center mb-4">Complete Yor Profile</p>

    <!-- Default input name -->
    <label for="defaultFormContactNameEx" class="grey-text">Education Level</label>
    <input type="text" id="defaultFormContactNameEx" class="form-control" name="educationLevel" value= "<%= educationLevel %>" >
    <br>

    <!-- Default input email -->
    <label for="defaultFormContactEmailEx" class="grey-text">Your email</label>
    <input type="email" id="defaultFormContactEmailEx" class="form-control">

    <br>

    <!-- Default input subject -->
    <label for="defaultFormContactSubjectEx" class="grey-text">Subject</label>
    <input type="text" id="defaultFormContactSubjectEx" class="form-control">

    <br>

    <!-- Default textarea message -->
    <label for="defaultFormContactMessageEx" class="grey-text">Your message</label>
    <textarea type="text" id="defaultFormContactMessageEx" class="form-control" rows="3"></textarea>

    <div class="text-center mt-4">
        <input type="submit" class="btn btn-outline-warning" value="Update">
    </div>
</form>
</div>
<!-- Default form contact -->
<% include ./partials/footer%>
