<% include ./partials/header %>

<!-- Full Page Intro -->
<div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/89.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row pt-lg-5 mt-lg-5">
        <!--Grid column-->
        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
          <h1 class="display-4 font-weight-bold">What We Do</h1>
          <hr class="hr-light">
          <h6 class="mb-3">Linkinmates is a web platform with the purpose of maximizing the rehabilitation of prisoners and advocating
            a social impact by creating a safe channel of freelancing between job posters and prisoners.</h6>
          <a class="btn btn-outline-white">Learn more</a>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
</header>
<!-- Main navigation -->



<!-- The Signup Modal -->
    <div class="modal fade" id="SignupModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Sign Up</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">

  <form method="POST" action="/client/register">
  <div class="form-group">
    <label for="firstName"><strong>First Name</strong></label>
    <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" name="firstName">
  </div>

  <div class="form-group">
    <label for="lastName"><strong>Last Name</strong></label>
    <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" name="lastName">
  </div>

  <div class="form-group">
    <label for="email"><strong>Email address</strong></label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
  </div>

  <div class="form-group">
    <label for="prisoner-Number"><strong>Prisoner Number</strong></label>
    <input type="password" class="form-control" id="prisoner-Number" placeholder="Prisoner Number" name="prisonerNumber">
  </div>

  <div class="form-group">
    <label for="password"><strong>Password</strong></label>
    <input type="password" class="form-control" id="password1" placeholder="Password" name="password">
  </div>
  <input type="submit" class="btn btn-outline-secondary waves-effect" value="Sign up">
</form>
          </div>

        </div>
      </div>
    </div>

    <!-- The login Modal -->
        <div class="modal fade" id="LoginModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Log In</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
      <form method="POST" action="/client/login">
      <div class="form-group">
        <label for="email"><strong>Email</strong></label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="password"><strong>Password</strong></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>
      <input type="submit" class="btn btn-outline-secondary waves-effect" value="Log in">
    </form>
              </div>

            </div>
          </div>
        </div>


<% include ./partials/footer %>
