
/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  header {
    height: 1100px;
  }
}

.top-nav-collapse {
  background-color: #39448c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #39448c !important;
  }
}

h6 {
  line-height: 1.7;
}

.prison-footer{

  margin-top: 10%;
}

.nav-search{
margin:0 auto 0 auto;
}

#Profile-emoji{
  font-size:35px !important;
}
.admincontent{
  margin: 20% -5% 0 auto;
  width: 90%;

}
.grid-contents{
    max-width:25%;
    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 0%;
    margin-right: 0%;
}

.catch{
  margin-right: 30%;
}

.completeRegistration{
  width: 60%;
  margin: 10% auto 0 auto;
}
.prison-row{
  margin-top: 15%;
  width: 80%;
  margin-left: 5%;
}

.suppodely-hidden{
  visibility: hidden;
}

.card{
  max-width: 20%;

}
.card-containers{
  margin-top: 10%;
}
